@charset "utf-8";

@import "settings";
@import "prelude";

@include responder-breakpoints( narrow 320px,
								wide 600px);

html {
	@include respond-to(wide-and-up) {
		font-size: 150%;
	}
}

body {
	text-rendering: optimizeLegibility;
	background-color: #f1efe9;
	border-top: solid 1em $black;

}

a,
a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

.wrapper {
	max-width: 26em;
	margin: 0 auto;
}

.masthead {
	@include rhythm($padding-leader: 2, $padding-trailer: 2);
	text-align: center;
}

.logo {
	color: $red;
}

blockquote {
	@include margin-trailer(2);
}

.kuote__link {
	@include transition(opacity .1s ease-in-out);
	display: inline-block;
	padding: 1em;
	opacity: .1;
	&:hover {
		opacity: .75;
	}
}