-data.kuotes.each_with_index do |kuote, i|
  %blockquote.kuote
    %p.kuote__text&= kuote.kuote
    %strong.kuote__source.source.milli&= kuote.author
    %a.kuote__link.milli{ :href => '/kuote/' + i.to_s + '.html', :title => 'Link to this kuote'} ➥