- content_for(:meta_description, 'A growing collection of inspiring quotes on Design, Minimalism, Simplicity, Focus, …')

-data.kuotes.reverse.each_with_index do |kuote, i|
  %blockquote.kuote
    %p.kuote__text&= kuote.kuote
    %strong.kuote__source.zeta.flush--bottom&= kuote.author
    %a.kuote__link.zeta.flush--bottom{ :href => 'kuote/' + (data.kuotes.length - (i + 1)).to_s + '.html', :title => 'Link to this kuote'} ➥